.content__head {
    display: flex;
    justify-content: space-between;
}

.content__head a {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    background-color: #0ea5e9;
    border: none;
    border-radius: 10px;
    color: #FFF;
}

form input {
    padding: 5px;
    outline: none;
    border: 1px solid black;
    border-radius: 4px;
}

form #submit:hover {
    background-color: #94a3b8;
    cursor: pointer;
}

.class {
    font-size: 24px;
    padding: 30px 30px;
    margin: 30px 10px;
    background-color: #f1f5f9;
    border-radius: 15px;
}

.class a {
    color: #1D4ED8;
}

.class a:hover {
    color: #1E40AF;
}

.class.schoolar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 10px;
    padding: 20px 30px;
}

.class.schoolar a {
    display: flex;
    justify-content: center;
}