header {
    min-height: 100px;
    background-color: #fafaf9;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.answer {
    transition: 0.3s;
}

.variants {
    display: flex;
    justify-content: space-around;
}

.variants button {
    padding: 30px;
    font-size: 18px;
    flex-basis: 25%;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.1s;
    border-radius: 10px;
}

.variants button:hover {
    background-color: #cbd5e1;
    transition: 0.1s;
}

.variants {
    margin-top: 40px;
}

.editable {
    border: 2px solid #1E293B;
    border-radius: 10px;
    line-height: 50px;
    vertical-align: center;
    min-width: 60px;
    min-height: 50px;
    outline: none;
    padding: 0 20px;
}

button.answer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button.answer .editable {
    flex-basis: 60%;
}

button .editable {
    max-width: 80%;
}

.answer .delete__button {
    flex-basis: 20%;
    transition: 0.1s;
}

.answer .delete__button .material-icons-round {
    font-size: 30px;
}

.answer .empty {
    flex-basis: 20%;
}

.answer .delete__button:hover {
    color: #f43f5e;
    transition: 0.1s;
}

.answer-add {
    background-color: #e0f2fe;
    border-color: #50c7fc;
    color: #354867;
}

.answer-add .material-icons-round {
    font-size: 50px;
    padding-bottom: 0;
}