{% extends "panelbase.html" %}

{% block content %}
    <div class="content__head">
        <h1>{{ title }}</h1>
    </div>
    <div style="margin: 5px 0; font-size: 18px; display: flex; align-items: center;">
        <span style="margin: 5px 0;">Ссылка для приглашения в класс:</span>
        <input type="text" readonly value="127.0.0.1:5000/invitation/{{ invitation_link }}" onclick="this.select();"
               style="padding: 2px; outline: none;"><a href="/regenlink/{{ classid }}"><span class="material-icons-round">replay</span></a>
    </div>
    <h1>Ученики:</h1>
    {% if not schoolars %}
        <div style="color: #64748b; font-size: 20px;">Пока нет учеников...</div>
    {% endif %}
    {% for i in schoolars %}
        <div class="class schoolar">
            <a href="{{ classid }}/schoolar/{{ i.id }}">{{ i.name }} {{ i.surname }}</a>
            <a onclick="deleteuser({{ i.id }}, '{{ i.name }} {{ i.surname }}', )" style="cursor: pointer;"><span
                    class="material-icons-round" style="color: #ef4444">delete</span></a>
        </div>
    {% endfor %}
    {% if tests %}
        <h1>Открыть тест для класса:</h1>
    {% endif %}
    {% for i in tests %}
        <div class="class">
            <a href="/opentest/{{ i.id }}/{{ classid }}">{{ i.title }}</a>
        </div>
    {% endfor %}
    <h1>Открытые тесты:</h1>
    {% for i in opentests %}
        <div class="class" style="display: flex; justify-content: space-between;">
            <span>{{ i.title }}</span>
            <a href="/closetest/{{ i.id }}/{{ classid }}" style="color: red; display: flex; align-items: center;"><span class="material-icons-round">
remove_circle_outline
</span></a>
        </div>
    {% endfor %}
    <script>
        function deleteuser(id, name) {
            a = confirm('Вы действительно хотите удалить ученика ' + name + ' из класса?')
            if (a) {
                location = '/deleteuserfromclass/{{ classid }}/' + id
            }
        }
    </script>
{% endblock %}