<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style/task.css') }}">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
</head>
<body>
  <div class="content">
    <div class="container">
    </div>
  </div>
  <footer>
    <div class="footer__left"></div>
    <div class="footer__container">
      <button class="back inactive">
        <span class="material-icons-round">arrow_back</span>
      </button>
      <div class="info"></div>
      <button class="forward">
        <span class="material-icons-round">arrow_forward</span>
      </button>
    </div>
    <div class="footer__right">
      <span class="material-icons-round icon">
        timer
      </span>
      <span class="timer__time">
        00:30
      </span>
    </div>
  </footer>
  <script src="{{ url_for('static', filename='script/task.js') }}"></script>
</body>
</html>
